@model IEnumerable<Producer>
@{
    ViewData["Title"] = "List of Producers";
}
<section class="py-5">
    <!-- Start: Producers -->
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Creative Producers</p>
                <h2 class="fw-bold">Meet Our Producers</h2>
                <p class="text-muted">Explore the minds behind the scenes.&nbsp;</p>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 mx-auto">
            @foreach (var producer in Model)
            {
                <div class="col mb-4">
                    <div class="text-center">
                        <img class="rounded mb-3 fit-cover" width="150" height="150" src="@producer.ProfilePictureURL" alt="@producer.FullName">
                        <h5 class="fw-bold mb-0"><strong>@producer.FullName</strong></h5>
                        <p class="text-muted mb-2">@producer.Bio</p>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <div class="btn-group" role="group" aria-label="Producer Actions">
                                <a class="btn btn-primary shadow d-block w-100" asp-action="Edit" asp-route-id="@producer.Id" title="Edit Producer">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-secondary shadow d-block w-100" asp-action="Details" asp-route-id="@producer.Id" title="Producer Details">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a class="btn btn-danger shadow d-block w-100" asp-action="Delete" asp-route-id="@producer.Id" title="Delete Producer">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div><!-- End: Producers -->
</section>

@await Html.PartialAsync("_CreateItem", "Producers")
